<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Header Fragment -->
<div th:fragment="quizHeader(description, type, author)">
    <h1 th:text="${description}">Quiz Description</h1>
    <p>Type: <span th:text="${type}">Type</span></p>
    <p>Author: <span th:text="${author}">Author</span></p>
</div>

<!-- Question Options Fragment -->
<div th:fragment="questionOptions(question)">
    <!-- Hidden field for question ID -->
    <input type="hidden" name="questionIds" th:value="${question.id}" />

    <p th:text="${question.question}">Question content</p>

    <!-- TestQuestion -->
    <div th:if="${question.getClass().simpleName == 'TestQuestion'}">
        <p>Choose one or more:</p>
        <ul>
            <li th:each="opt : ${question.savAnswers}">
                <label>
                    <input type="checkbox" th:name="${'answer_' + question.id}" th:value="${opt}" />
                    <span th:text="${opt}"></span>
                </label>
            </li>
        </ul>
    </div>

    <!-- ResponseQuestion -->
    <div th:if="${question.getClass().simpleName == 'ResponseQuestion'}">
        <label>Your Answer:
            <input type="text" th:name="${'answer_' + question.id}" />
        </label>
    </div>

    <!-- FillBlankQuestion -->
    <div th:if="${question.getClass().simpleName == 'FillBlankQuestion'}">
        <label>Your Answer:
            <input type="text" th:name="${'answer_' + question.id}" />
        </label>
    </div>
</div>

<!-- Navigation Fragment -->
<div th:fragment="pager(quiz, index, hasPrev, hasNext)">
    <a th:if="${hasPrev}" th:href="@{|/quiz/${quiz.id}/question/${index - 1}|}">Previous</a>
    <a th:if="${hasNext}" th:href="@{|/quiz/${quiz.id}/question/${index + 1}|}">Next</a>
</div>

</body>
</html>
